body {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}


article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px groove dimgrey;
    border-radius: 10px;
    padding: 5px 30px;
    margin: 20px;
}

.article-active {
    border: 1px solid #C6370b;
}


article > button {
    /*height: 24px;*/
    padding: 4px 4px;
    font-size: 24px;

}

article button {
    padding: 10px;
    margin: 10px;
}


form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}